
.venv/
venv/
ENV/
env/
env.bak/
*.env
.env.*
*.log
alembic/versions/*.py
!alembic/versions/__init__.py
*.pid
*.seed
*.tar
*.bak
docker-compose.override.yml
.idea/
build/
dist/
.cache/
*.db
*.sql



